<div id="navi">
  <div class="top-div"><%= link_to "Rider Mathcing", root_path, class: "top-link" %></div>
  <div class="login-div"><%= link_to "ログイン", login_path, class: "login-link" %></div>
  <div class="signup-div"><%= link_to "はじめる", new_user_path, class: "signup-link" %></div>
</div>