<div id="no-login-page">
  <div id="main">
    <div>
      <p id="app-explain">
        ライダーのためのマッチングアプリです</br>
        気が合いそうなライダーを見つけ、グループを作成して</br>
        予定を立ててツーリングに出かけよう。
      </p>
    </div>
    <h2 id="title-feature">アプリの特徴</h2>
    <div id="app-func-explain">
      <div class="no-login-group">
        <div class="content">
          <i class="fas fa-user-friends"></i>
          <p>
            グループを作成できます。
            グループごとに予定をたてれます。
            他のユーザーを招待して予定を立てよう。
          </p>
        </div>
      </div>
      
      <div class="no-login-post">
        <div class="content">
          <i class="fas fa-paper-plane"></i>
          <p>
            自分のバイクライフを投稿してシェアしよう。
            他のユーザーの投稿を見て気になったらツーリングに誘おう。
          </p>
        </div>
      </div>
      
      <div class="no-login-search">
        <div class="content">
          <i class="fas fa-search"></i>
          <p>
            グループとユーザーの投稿を検索できます。
            気になるワードで検索して自分に合うグループを見つけよう
          </p>
        </div>
      </div>
    </div>
    
    <div id="slide-image">
      <div class="slide-btn"><span class="prev-btn"><i class="far fa-arrow-alt-circle-left prev-btn"></i></span></div>
      <div id="slide-images">
        <%= image_tag "slide1.png", class: "slide-content active" %>
        <%= image_tag "slide2.png", class: "slide-content", style: "display: none" %>
        <%= image_tag "slide3.png", class: "slide-content", style: "display: none" %>
        <%= image_tag "slide4.png", class: "slide-content", style: "display: none" %>
      </div>
      <div class="slide-btn"><span class="next-btn"><i class="far fa-arrow-alt-circle-right next-btn"></i></span></div>
    </div>
  </div>
</div>

<script>
  $(function(){
    var $slides = $(".slide-content");
    var index = $slides.length
    var current = 0;
    var next = 1;
    var timer = setInterval(function(){
      $slides.eq(current).removeClass("active")
      $slides.eq(current).hide();
      $nextElement = $($slides[next])
      $nextElement.fadeIn(2000)
      $nextElement.addClass("active")
      current = next;
      next = (current + 1) % index;
    }, 5000)
    
    $(".prev-btn").on("click", function(){
      $slides.eq(current).removeClass("active");
      $slides.eq(current).hide();
      next = current;
      current = (current + index -1) % index;
      
      $($(".slide-content")[current]).fadeIn(500)
      $($(".slide-content")[current]).addClass("active")
    })
    
    $(".next-btn").on("click", function(){
      $slides.eq(current).removeClass("active");
      $slides.eq(current).hide();
      current = (current + 1) % index;
      next = (current + 1) % index;
      $($(".slide-content")[current]).fadeIn(500)
      $($(".slide-content")[current]).addClass("active")
    })
  })
</script>